.display-image {
  height: 70vh;
  width: 50%;
  border-radius: 14px;
  margin-right: 10px;
}
.display-size {
  display: flex;
  padding: 10px;
}
.bold {
  font-weight: bold;
}
.bg-color {
  width: 78px;
  display: flex;
  background-color: aqua;
  border-radius: 3px;
}
.button {
  display: flex;
}
.button1 {
  background-color: transparent;
  border-style: none;
}
.similar-product {
  display: flex;
}
.no-product-img {
  height: 50vh;
  width: 50%;
  margin-left: 300px;
}
